@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ApplicationUserManager UserManager
@inject MeetingManager MeetingManager

<PageTitle>NextTime</PageTitle>

<div class="space-y-8">
    <h1 class="text-5xl sm:text-6xl text-center font-bold">Next<span class="text-amber-500">Time</span></h1>
    @if (_meetings.Count == 0)
    {
        <p class="text-center text-gray-500">You don't have any events.</p>
    }
    <button class="w-full p-2 rounded-lg bg-amber-500 text-black font-bold">Create Event</button>
</div>

@code {
    private List<Meeting> _meetings = [];

    [CascadingParameter]
    public required ApplicationUser User { get; init; }

    protected override async Task OnInitializedAsync()
    {
        _meetings = await MeetingManager.Meetings.Where(a => a.OwnerId == User!.Id).ToListAsync();
    }
}
