@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject ApplicationUserManager UserManager

<PageTitle>NextTime</PageTitle>

@if (User == null)
{
    <LoadingScreen />
    return;
}

<div>
    <h1 class="text-5xl sm:text-6xl text-center font-bold">Next<span class="text-amber-500">Time</span></h1>
    <div class="mt-8 p:mt-12 space-y-4">
        @if (_meetings.Count == 0)
        {
            <p class="text-center text-gray-500">You haven't created any meetings.</p>
        }
        else
        {
            <h2 class="text-center text-gray-500 font-bold">CREATED MEETINGS</h2>
            @foreach (var meeting in _meetings)
            {
                <NTButton Clicked="@(() => NavigateToMeetingDetails(meeting.Id))">@meeting.Title</NTButton>
            }
        }
    </div>
    <div class="mt-8">
        <NTButton Style="ButtonStyle.Accent" Clicked="NavigateToMeetingCreation">Create Meeting</NTButton>
    </div>
</div>

@code {
    private List<Meeting> _meetings = [];

    [CascadingParameter]
    public ApplicationUser? User { get; init; }

    protected override async Task OnInitializedAsync()
    {
        if (User != null)
        {
            _meetings = await UserManager.GetMeetings(User).ToListAsync();
        }
    }

    private void NavigateToMeetingCreation()
    {
        NavigationManager.NavigateTo("/new-meeting");
    }

    private void NavigateToMeetingDetails(Guid meetingId)
    {
        NavigationManager.NavigateTo($"/meetings/{meetingId}");
    }
}
