@page "/meeting/{id}"
@inject NavigationManager NavigationManager
@inject MeetingManager MeetingManager
@inject DeclarationManager DeclarationManager

@if (Meeting == null)
{
    <p>Meeting not found.</p>
    return;
}

<div class="text-center space-y-4">
    <h1 class="font-extrabold">NEXT<span class="text-amber-500">TIME</span></h1>
    <h2 class="text-4xl font-bold">@Meeting.Title</h2>
    <div class="space-x-2 flex justify-center items-center">
        <img src="/img/clock.svg" alt="Clock" height="24" width="24" />
        @if (Meeting.Duration.TotalDays >= 1)
        {
            <p>Entire Day</p>
        }
        else if (Meeting.Duration.TotalHours > 1)
        {
            <p>Around @(Meeting.Duration.Hours - 2)-@(Meeting.Duration.Hours) Hours</p>
        }
        else
        {
            <p>Around 1 Hour</p>
        }
    </div>
    @if (!string.IsNullOrWhiteSpace(Meeting.Description))
    {
        <p>@Meeting.Description</p>
    }
    <div class="py-4">
        <div class="w-full h-1 bg-gray-100 rounded-xl" />
    </div>
    @if (Declarations.Count == 0)
    {
        <p>No one has suggested a time for this event yet.</p>
    }
    <div class="pt-4">
        <NTButton Style="ButtonStyle.Accent" Clicked="NavigateToSuggestionCreation">Create Suggestion</NTButton>
    </div>
</div>

@code {
    [Parameter]
    public string? Id { get; set; }

    [CascadingParameter]
    public ApplicationUser? User { get; set; }

    private Meeting? Meeting { get; set; }

    private List<Declaration> Declarations { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        if (Guid.TryParse(Id, out var id))
        {
            Meeting = await MeetingManager.FindByIdAsync(id);
        }

        if (Meeting == null)
        {
            NavigationManager.NavigateTo("/");
            return;
        }

        Declarations = await MeetingManager.GetDeclarations(Meeting).ToListAsync();
    }

    private async Task NavigateToSuggestionCreation()
    {
        if (Meeting == null || User == null)
        {
            return;
        }

        var declaration = await MeetingManager.GetDeclarationAsync(Meeting, User.Id);
        if (declaration == null)
        {
            declaration = new Declaration(Meeting.Id, User.Id);
            await DeclarationManager.CreateAsync(declaration);
        }

        NavigationManager.NavigateTo($"/d/{declaration.Id}/new-suggestion");
    }
}
