@page "/meeting/{id}"
@inject NavigationManager NavigationManager
@inject MeetingManager MeetingManager

<h1 class="text-center font-extrabold">NEXT<span class="text-amber-500">TIME</span></h1>
<h2 class="text-center text-4xl font-bold">@Meeting?.Title</h2>
@code {
    [Parameter]
    public string? Id { get; set; }

    public Meeting? Meeting { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Guid.TryParse(Id, out var id))
        {
            Meeting = await MeetingManager.FindByIdAsync(id);
        }

        if (Meeting == null)
        {
            NavigationManager.NavigateTo("/");
        }
    }
}
