@page "/create-meeting"
@inject NavigationManager NavigationManager
@inject MeetingManager MeetingManager

<div class="space-y-4">
    <h1 class="text-4xl font-bold">Create Meeting</h1>
    <NTTextBox Label="Name" />
    <NTTextArea Label="Description" />
    <NTTextBox Label="Location" />
    <div class="flex space-x-4">
        <NTButton Clicked="NavigateToHomePage">Cancel</NTButton>
        <NTButton Style="ButtonStyle.Accent" Clicked="CreateMeetingAsync">Create</NTButton>
    </div>
</div>

@code {
    [CascadingParameter]
    public required ApplicationUser User { get; init; }

    public Meeting? Meeting { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Meeting = new Meeting(User.Id, "Unnamed");
    }

    private void NavigateToHomePage()
    {
        NavigationManager.NavigateTo("/");
    }

    private async Task CreateMeetingAsync()
    {
        if (Meeting != null)
        {
            await MeetingManager.CreateAsync(Meeting);
        }
    }
}
