@page "/add-name"
@inject NavigationManager NavigationManager
@inject ApplicationUserManager UserManager

@if (User == null)
{
    <LoadingScreen />
    return;
}

<div class="space-y-8">
    <div class="space-y-4">
        <h1 class="text-4xl font-bold break-words">Let others know who you are!</h1>
        <p>Adding your name will help particpants understand when you are avaiable.</p>
    </div>
    <NTTextBox Placeholder="John Smith" @bind-Text="User.DisplayName" />
    <div class="flex space-x-4">
        <NTButton Clicked="NavigateBack">Not Now</NTButton>
        <NTButton Style="ButtonStyle.Accent" Clicked="AddNameAsync">Add Name</NTButton>
    </div>
</div>

@code {
    private string? _redirectUrl;

    [CascadingParameter]
    public ApplicationUser? User { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var uri = new Uri(NavigationManager.Uri);
        var parameters = HttpUtility.ParseQueryString(uri.Query);

        _redirectUrl = parameters.Get("redirect-url");

        if (User == null)
        {
            NavigateBack();
        }
    }

    private void NavigateBack()
    {
        NavigationManager.NavigateTo(_redirectUrl ?? "/");
    }

    private async Task AddNameAsync()
    {
        await UserManager.UpdateAsync(User!);
        NavigateBack();
    }
}
